.customNav{
    background-color: #3b3b3b;
}
.navbar.navbar-expand-md.navbar-dark.bg-dark{
    background-color: #3b3b3b !important;
}
.navbar-brand{
    color:white !important;
    font-family: 'Lalezar', cursive;
}
.nav-link{
    color: white !important;
    font-size: 15px !important;
    font-family: 'Lalezar', cursive;
}
.nav-link:hover{
    color: #dbdbdb !important;
}
.nav-link.disabled{
    color: #dbdbdb !important;
    text-decoration:underline;
}
.customSearchNav{
    background-color: #fff !important;
    border-radius: 5rem;
}
.customSearchNav::placeholder{
    color: #3b3b3b;
}
.dropdown-item{
    font-family: 'Lalezar';
}





/*  Login Part  */
@media only screen and (max-width: 500px) {
    .form{
        margin: auto;
    }
    .nameInput{
        width: 80% !important;
    }
    #signUpEmail, #InputPassword{
        width: 80% !important;
    }
    .signUpCustom{
        padding-left: 20px;
        padding-right: 20px;
        margin-inline: auto !important;
    }
}
@media only screen and (min-width: 500px) {
    .form{
        margin: auto;
        width: auto;
    }
    .nameInput{
        width: 80% !important;
    }
    #signUpEmail, #InputPassword{
        width: 80% !important;
    }
}
@media only screen and (min-width: 575px) {
    #signUpEmail, #InputPassword{
        width: 90% !important;
    }
}
@media only screen and (min-width: 992px) {
    .form{
        margin: auto;
        width: 600px;
    }
}
.form{
    text-align: center;
    height: 550px;
    background: #dbdbdb;
    border: 1px solid #3b3b3b;
    border-radius: 5rem;
    width: 400px;
    margin-top: 50px !important;
}
#block1, #block2{
    display: inline;
}

.frmBtn{
    text-align: center;
}

.btn-custom{
    font-size: 14px;
    width: 150px;
    color: black;
    border-radius: 5rem;
    border: 2px solid black;
    background-color: white;
    height: 40px;
}
.btn-custom:hover{
    color: white;
    background-color: #3b3b3b;
    transition-duration: 0.5s;
    border: 2px solid #3b3b3b;
}

.customInput{
    background-color: #3b3b3b;
    color: white;
    border-radius: 5rem;
}

.customInput:focus{
    background-color: #3b3b3b;
    color: white;
    border-radius: 5rem;
}
.bi-shield-lock{
    font-size: 10rem;
    color: #3b3b3b !important;
}



/*  signUp  Form    */
.signUpCustom{
    /*display: inline-flex;*/
    width: 90%;
    margin-inline: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #3b3b3b 1px solid;
    border-radius: 5rem;
}
#signUpForm{
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;    
}
.nameInput{
    width: 80%;
}
.signUpCustom1{
}
.signUpCustom2{
    border-radius: 0px 5rem 5rem 0px;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1567136724610-e582484cfa69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
#signUpEmail, #InputPassword{
    width: 90%;
}
#signUpEmail::placeholder {
    align-items: flex-start;
    color: #dbdbdb;
    text-align: end;
}
.birthInput{
    width: 68%;
}
.img-fluid{
    border-radius: 5rem !important;
    width: 100%;
    height: max-content;
    margin-top: 20px;
}

/*  Footer  */
.footerCustom{
    background-color: #3b3b3b;
    color: white;
    position: absolute;
    height: 100px;
    width: 100%;
    
    display: flex;
}
.footerDiv{
    margin: auto;
    margin-top: 20px !important;  
    margin-right: 10px;
}
.customLink{
    color:white;
}
.customLink:hover{
    color: #dbdbdb;
}









